*{margin: 0;padding: 0;} 

.bigbox{
    width: 500px; 
    height:500px;
    position: relative;
    border: 1px dotted #333;
    margin: 100px auto 0;/*좌우 중앙정렬 auto 위 100 아래 0*/
}

.face{
    position: absolute;
    width: 500px;
    height: 450px; 
    border-radius: 50%;
    background-color: #6495ed;
}







/* .face{
    position: absolute;
    width: 500px;
    height: 450px; 
    border-radius: 50%;
    background-color: #6495ed;
    bottom: 0;
    border:10px solid #333;
    box-sizing: border-box;
} */
/* 
.eyeball{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 170px;
}
.eyeball.left{left: 110px;}
.eyeball.right{right: 110px;}


.nose{
    width:35px; height:35px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top:260px;
    left:50%;
    margin-left: -20px;
    z-index: 1;
} */